<input [(ngModel)]="fname" type="text" placeholder="Enter your name">
<!-- <div>{{ fname }}</div> -->
<div class="name">
    <h1>{{ fname }} Work Experience</h1>
</div>
<table class="details">
    <thead>
      <tr>
        <th (click)="activeTab = 'intro'" >Introduction</th>
        <th *ngIf="experience == 5" (click)="activeTab = 'experience'">Work Experience</th>
        <th (click)="activeTab = 'skills'">Skills</th>
        <th (click)="activeTab = 'certification'">Certification</th>
      </tr>
    </thead>

  </table>
  <div *ngIf="activeTab === 'intro'">
      With total industrial experience of 3.8 years. I specialize in Java REST API, Python Scripting and DB2 SQL 
      Database and with sound knowlege of Angular
  </div>
  <div *ngIf="activeTab === 'experience'">
      Work Experience details
  </div>
  <div *ngIf="activeTab === 'skills'">
    <ul class="grid-skills"> 
      <li>Java</li>
      
      <li>Python</li>
      <li>DB2</li>
      <li>SQL</li>
      <li>Unix</li>
      <li>Shell</li>
      <li>HTML</li>
      <li>Angular</li>
    </ul>
  </div>
  <div *ngIf="activeTab === 'certification'">
    <ul>
      <li>Frontend for Java Full Stack Development by Coursera</li>
      <li>Agile Software Development by Coursera.</li>
    </ul>
  </div>


<router-outlet></router-outlet>